*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 0%;
    margin: 0%;
}
/*nav bar*/
header{
    background: rgba(255, 144, 14, 0.10);
    border: solid salmon;
    
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    border: solid salmon;
   
}
nav > ul {
    display: flex;
}
ul>li{
    list-style: none;
    margin-right: 20px;
    font-size: 1rem;
}
li a{
    text-decoration: none;
    color:  #424242;

}
.nav-title{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
    border: #12a31e dashed;   
}
/*banner */
.banner{
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    border: #12a31e dashed;
    text-align: center;
}
.banner-container{
    margin-bottom: 70px;
}
.banner-title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
}
.banner-story{
    color: #727272;
    font-size: 1rem;
    font-weight: 400; 
    margin: 0 auto;
    margin-bottom: 32px;
    
}
.banner img{
   
    width: 100%;
    border:  2px solid gold;
}
.org-btn{   /*shear style item*/
   padding: 1.5% 2.5%;
   font-size: 1.1rem;
   font-weight: 600;
   color: #FFF;
   border-radius: 8px;
   border: 0px;
   background: #FF900E;
   cursor: pointer; 
}
/*main style*/
main {
    max-width: 1440px;
    margin: 0 auto ;
}
/*tame section*/
.team-container{
    display: flex;
}
.team-collage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-description-container{
    
    align-items: center;
    justify-content: center;
    border: red solid;
}
.taem-divison{
    align-items: center;
    justify-content: center;
    border: #12a31e dashed;
}
























/*meida quere*/
@media screen and (max-width: 576px) {
    header{
        margin: 0%;
        padding: 0%;
    }
    nav{
        flex-direction: column;
        padding: 0%;
        margin-bottom: 5%;
    }
    nav > ul {
        
       /* flex-direction: column;*/
    }
    .banner{
        padding: 0%;
        margin: 0%;
    }
    .banner-title{
        font-size: 3rem;
    }
    
   
}
    
