*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 0%;
    margin: 0%;
}
/*nav bar*/
header{
    background: rgba(255, 144, 14, 0.10);
     
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
   
}
nav > ul {
    display: flex;
}
ul>li{
    list-style: none;
    margin-right: 20px;
    font-size: 1rem;
}
li a{
    text-decoration: none;
    color:  #424242;

}
.nav-title{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;  
}
/*banner */
.banner{
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;

    text-align: center;
}
.banner-container{
    margin-bottom: 3%;
}
.banner-title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
}
.banner-story{
    color: #727272;
    font-size: 1rem;
    font-weight: 400; 
    margin: 0 auto;
    margin-bottom: 32px;
    
}
.banner img{
   
    width: 100%;
    padding-bottom: 3%;
}
.org-btn{   /*shear style item*/
   padding: 1.5% 2.5%;
   font-size: 1.1rem;
   font-weight: 600;
   color: #FFF;
   border-radius: 8px;
   border: 0px;
   background: #FF900E;
   cursor: pointer; 
}
/*main style*/
main {
    max-width: 1440px;
    margin: 0 auto ;
}
/*tame section*/
.team-container{
    display: flex;
    margin-top: 5%;
}
.team-collage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;

}
.team-description-container{
    
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 5%;
}
.team-divison{
    align-items: center;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 10%;

    
}
.team-title{
   font-size: 2.5rem;
  
}
.team-story{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
    
}
.team-pic > img{
    height: 342px;
    border-radius: 500px;
    
}


/* facts parts*/
.achievements{
    display: flex;
    width: 100%;

    justify-content: space-around;
}
.fact-card{
    width: 240px;
    height: 240px;
    border: 0.1rem solid #FF900E;
    border-radius: 8px;
    
}
.fact-icon{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}
.fact-story{
    text-align: center;
    font-size: 20px;
    color: #727272;
    font-weight: 600;
}
.fact-card img{
    width: 45.221px;
    height: 45.221px;
    margin-top: 20%;
    margin-left: 40%;
}
.icons{
    border: 2px #FF900E dashed;
    border-radius: 50%;
   
    
}
.fact{
   margin-top: 5%;
   margin-bottom: 3%;
}
.fact-descrip{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1%;
}






















/*meida quere*/
@media screen and (max-width: 576px) {
   /*header and nav*/
    header{
        margin: 0%;
        padding: 0%;
    }
    nav{
        flex-direction: column;
        padding: 0%;
        margin-bottom: 5%;
    }
    nav > ul {
        
       /* flex-direction: column;*/
    }
    .banner{
        padding: 0%;
        margin: 0%;
    }
    .banner-title{
        font-size: 3rem;
    }
    
    /*team section*/
    .team-container{
        flex-direction: column;
        flex-direction: column-reverse;

    }    
    .team-collage{
        gap: 4.5px;
    }

    .team-pic > img{
        height: 180px;
        border-radius: 500px;
        
    }
    /* facts parts*/
   
}
    
